@tailwind base;
@tailwind components;
@tailwind utilities;
 

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 346.8 77.2% 49.8%;
    --radius: 0.3rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 346.8 77.2% 49.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


/* @keyframes progressAnimation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes stripes {
  0% {
    background-position: 1rem 0;
  }
  100% {
    background-position: -1rem 0;
  }
}

.animate-stripes {
  animation: stripes 1s linear infinite;
} */


.styles_social-list__qptyG {
  position: absolute;
  bottom: 100%;
  left: 0;
  display: flex;
  width: 100%;
  flex-direction: column-reverse;
  align-items: center;
  gap: .625rem;
  transition: all .4s cubic-bezier(.3,.02,0,.6)
}

.styles_social-list__qptyG li {
  transition: all .3s ease-in-out
}

@media (min-width: 768px) {
  .styles_social-list__qptyG {
      visibility:hidden;
      opacity: 0;
      transform: scale3d(0,0,1);
      transform-origin: bottom
  }

  .styles_social-list__qptyG li {
      transition-delay: 0s;
      transform: translateY(-20px);
      visibility: hidden;
      opacity: 0
  }

  .styles_social-hoverable-area__ZFmdx:hover>.styles_hover-me__mUB4m {
      --tw-bg-opacity: 1;
      background-color: rgb(26 26 28/var(--tw-bg-opacity))
  }

  .styles_social-hoverable-area__ZFmdx:hover .styles_social-list__qptyG {
      visibility: visible;
      opacity: 1;
      transform: scaleY(1)
  }

  .styles_social-hoverable-area__ZFmdx:hover .styles_social-list__qptyG li {
      transform: translateY(0);
      transition-delay: 0s;
      visibility: visible;
      opacity: 1
  }

  .styles_social-hoverable-area__ZFmdx:hover .styles_social-list__qptyG li:nth-child(2) {
      transition-delay: .2s
  }

  .styles_social-hoverable-area__ZFmdx:hover .styles_social-list__qptyG li:nth-child(3) {
      transition-delay: .3s
  }

  .styles_social-hoverable-area__ZFmdx:hover .styles_social-list__qptyG li:nth-child(4) {
      transition-delay: .4s
  }

  .styles_social-hoverable-area__ZFmdx:hover .styles_social-list__qptyG li:nth-child(5) {
      transition-delay: .5s
  }

  .styles_social-hoverable-area__ZFmdx:hover .styles_social-list__qptyG li:nth-child(6) {
      transition-delay: .6s
  }
}

.keen-slider:not([data-keen-slider-disabled]) {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  align-content: flex-start;
  display: flex;
  overflow: hidden;
  position: relative;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -khtml-user-select: none;
  width: 100%
}

.keen-slider:not([data-keen-slider-disabled]) .keen-slider__slide {
  min-height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%
}

.keen-slider:not([data-keen-slider-disabled])[data-keen-slider-reverse] {
  flex-direction: row-reverse
}

.keen-slider:not([data-keen-slider-disabled])[data-keen-slider-v] {
  flex-wrap: wrap
}

